.button {
    display: inline-block;
    background-color: #779BF0;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000000;
    margin-right: 0;
    transition: transform 100ms linear;
    color: white;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
}

.button:hover {
    transform: scale(1.1);
    transition: 400ms ease-in-out;
}
