.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C57E1;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFFFFF;
    margin-right: 100px;
}

.card-project.-blue {
    background-color: #4C5B84;

}